*.user
build/arm/*
build/linux/*
build/macos/*
build/windows/*
build/windows_msvc/*
build/windows_arm/*
build/cygwin/*
/install/
documentation/doxygen/latex/
documentation/doxygen/html/
documentation/doxygen/man/
documentation/doxygen/log.txt
libraries/support/save/
*.save
